@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.employers {
  position: relative;
  background: url(../../assets/images/employers/employers-img.jpg) center /
    cover no-repeat;

  @media (width <= 768px) {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      backdrop-filter: blur(15px);
    }
  }

  &__body {
    position: relative;
  }

  &__info {
    max-width: 40%;
  }
}

// Media

@media (max-width: 768px) {
  .employers {
    padding: 60px 0;
    position: relative;

    &__info {
      max-width: 100%;
    }
  }
}
