@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.employers {
  background: url(../../assets/images/employers/employers-img.jpg) center /
    cover no-repeat;

  &__body {
    position: relative;
  }

  &__info {
    max-width: 40%;
  }
}

// Media

@media (max-width: 768px) {
  .employers {
    padding: 60px 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($whiteColor, .8);
    }

    &__info {
      max-width: 100%;
    }
  }
}
