@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.blog {
  padding: 50px 0 120px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 306px;
    grid-gap: 40px;
  }

  &__card-picture {
    height: 227px;
  }

  &__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__card-tag {
    @include insertFont("Raleway", 11px, 18px);
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: $greenLightColor;
    margin-top: 20px;
  }

  .main-title {
    font-size: 20px;
    line-height: 26px;
    margin: 15px 0 0;
  }
}

// Media

@media (max-width: 768px) {
  .blog {
    padding: 20px 0 50px;

    &__cards {
      grid-gap: 30px;
    }

    &__card-picture {
      height: 240px;
    }

    &__card-tag {
      margin-top: 15px;
    }

    .main-title {
      margin-top: 5px;
    }
  }
}
