@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}

html,
body,
#root,
.app {
  min-height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  transition: background 0.5s;

  &::-webkit-scrollbar {
    width: 7px;
    background: $whiteColor;
  }

  &::-webkit-scrollbar-thumb {
    background: $greenColor;
    border-radius: 2px;
  }
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  display: inline-block;
  cursor: pointer;
}

label {
  display: block;
  border-radius: 5px;
  position: relative;
}

input,
textarea {
  @include insertFont("Raleway", 16px, 22px);
  width: 100%;
  border: 1px solid $greenColor;
  border-radius: inherit;
  padding: 15px 20px;
  outline: none;
  transition: all 0.3s;
}

textarea {
  resize: none;
  min-height: 120px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $greenColor;
    border-radius: 5px;
  }
}

.app {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 90px 0;
}

.nav-link {
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: $greenColor;
  transition: all 0.3s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $greenLightColor;
  }

  &.active-link {
    border-color: $greenLightColor;
    color: $greenLightColor;
  }
}

.main-link {
  @include insertFont("Raleway", 14px, 20px, bold);
  padding: 10px 14px;
  background: $greenLightColor;
  color: $whiteColor;
  border-radius: 6px;
  transition: all 0.3s;
  display: inline-grid;
  place-items: center;
  white-space: nowrap;

  &:hover {
    background: $greenColor;
  }

  @media (max-width: 768px) {
    padding: 7px 12px;
    font-size: 16px;
    line-height: 24px;
  }
}

.section-subtitle {
  @include insertFont("Raleway", 13px, 20px);
  color: $greenColor;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  margin-bottom: 20px;

  @media (width <= 768px) {
    font-size: 15px;
    line-height: 22px;
  }
}

.main-title {
  @include insertFont("Roboto", 36px, 46px, bold);
  color: $greenColor;
  margin-bottom: 34px;

  @media (max-width: 768px) {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 10px;
  }
}

.main-text {
  @include insertFont("Raleway", 18px, 30px);
  letter-spacing: 0.02px;
  color: $grayColor;

  @media (max-width: 768px) {
    font-size: 19px;
    line-height: 27px;
  }
}

.section-link {
  @include insertFont("Raleway", 18px, 18px, 700);
  letter-spacing: 0.02px;
  color: $greenColor;
  margin-top: 24px;
  padding-bottom: 14px;
  border-bottom: 2px solid $greenColor;
  transition: all 0.3s;

  &:hover {
    color: $greenLightColor;
    border-color: $greenLightColor;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    padding-bottom: 7px;
  }
}

// Modal

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100%;
  background: rgba($blackColor, 0.7);
  display: grid;
  place-items: center;

  &-dialog {
    background: $whiteColor;
    padding: 40px;
    max-width: 600px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px -3px rgba(255, 255, 255, 0.5);

    @media (max-width: 991px) {
      max-width: 60%;
    }

    @media (max-width: 768px) {
      max-width: 90%;
      padding: 40px 25px 25px;
    }
  }

  .main-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 37px;

    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 35px;
    }

    @media (max-width: 768px) {
      font-size: 27px;
      line-height: 38px;
      margin-bottom: 15px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (width <= 768px) {
      gap: 10px;
    }

    &-label {
      position: relative;
    }

    &-input {
      font-size: 16px;
      line-height: 24px;
      padding: 12px 20px;

      @media (width <= 768px) {
        padding: 10px 15px;
      }

      &:focus {
        box-shadow: 0 0 10px -1px $greenLightColor;
        transform: scale(1.01);
      }
    }
  }

  .main-link {
    height: 42px;
  }

  &-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;

    @media (max-width: 768px) {
      width: 25px;
      height: 25px;
      top: 15px;
      right: 15px;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 20;
      width: 100%;
      height: 2px;
      background: $greenColor;
      border-radius: 40%;
    }

    span:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    span:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

// To top button

.totop-btn {
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 50;
  width: 50px;
  height: 50px;
  border: 1px solid $greenLightColor;
  background: $whiteColor;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: $whiteColor;
  font-size: 20px;
  transition: all 0.3s;

  @media (max-width: 991px) {
    bottom: 40px;
    right: 30px;
  }

  &__icon {
    transform: rotate(-0.25turn);
    width: 40%;
    height: 40%;
    object-fit: contain;
  }
}

// Page 404

.page-404 {
  padding: 30px 0;

  &__body {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__body > * {
    flex: 1;
  }

  &__img {
    max-width: 50%;
    margin-right: 40px;

    @media (max-width: 768px) {
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
  }

  &__title {
    padding-bottom: 15px;
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 1px solid $greenLightColor;
    color: $greenLightColor;
  }

  &__title p {
    font-size: 200px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  @media (max-width: 768px) {
    &__info {
      margin-top: 20px;
      text-align: center;
    }

    &__actions {
      justify-content: center;
    }
  }
}

// Contact page

// .contact {
//   padding: 50px 0 100px;

//   .main-title {
//     margin-bottom: 15px;
//   }

//   .main-text {
//     max-width: 500px;
//   }

//   &__form {
//     margin-top: 30px;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-template-rows: repeat(3, 1fr);
//     gap: 25px;

//     // .form-label:has(.contact__form-textarea),
//     // &-submit {
//     //   grid-column: 1 / -1;
//     // }

//     .form-label:has(.contact__form-textarea) {
//       grid-area: 1 / 2 / -1 / 3;
//     }

//     &-textarea {
//       height: 100%;
//     }

//     &-submit {
//       height: 54px;
//     }
//   }
// }
