// Colors

$whiteColor: #fff;
$blackColor: #000;
$greenColor: #214e41;
$greenLightColor: #43806c;
$yellowColor: #f0a446;
$darkColor: #222;
$grayColor: #757575;
$greenLighterColor: #e3eeed;
$grayLightColor: #c7c7c7;
