@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.pride {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 45px;
    bottom: 0;
    left: 45px;
    background-color: rgba($grayLightColor, 0.37);
    height: 1px;
  }

  &__slider {
    padding: 50px 40px;
    position: relative;
  }
  
  .swiper-slide img {
    margin: 0 auto;
  }

  .swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 18px;
    z-index: 20;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.swiper-prev {
      left: 0;
    }

    &.swiper-next {
      right: 0;
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}


// Media 

@media (max-width: 768px) {
  .pride {
    padding: 40px 0 30px;

    &__slider {
      padding: 24px 30px;
    }
  }
}